$bgc: rgb(247, 153, 115);
$border-r: 10px;
$box-shadow: 3px 3px 3px rgb(53, 52, 52);
$font-size: 2rem;
$start-top: -30vh;
$end-top: 0vh;
$width-base: 50;
$width: $width-base * 1%;
$left: #{$width-base / 2}vw;
