@use "./ModalPopupVars" as modal;

.ModalPopup {
  //Colors, Fonts, Borders
  background-color: modal.$bgc;
  box-shadow: modal.$box-shadow;
  border-radius: modal.$border-r;
  font-size: modal.$font-size;
  //Display
  text-align: center;
  //Diamensions,
  width: modal.$width;
  height: 0;
  // height: 10px;
  //Position
  position: fixed;
  top: modal.$start-top;
  left: modal.$left;
  //Margin, Padding
  margin: 0 auto;
  padding: 1rem;
  //Transition, Animation
  transition: all 0.3s ease-in;
}

.ActivePopup {
  //Colors, Fonts, Borders
  //Display
  z-index: 2;
  //Diamensions
  height: auto;
  //Position
  top: modal.$end-top;
  //Margin, Padding
  //Transition, Animation
  // transition: all 2.5s ease-in;
}
