$bgc: rgb(220, 220, 245);
$box-shadow: 2px 2px 1px rgb(78, 77, 77);
$border-r: 4%;

$min-w: 150px;
$min-h: 150px;

$timestamp-border: 2px solid rgb(224, 98, 98);

$buttonImgMinW: 80px;
$buttonImgMinH: 80px;

$buttonImgMaxW: 120px;
$buttonImgMaxH: 120px;
