@use "./BeverageCardVars" as bcard;
@use '../../mainVars' as main;
.BeverageCard {
  //Colors, Fonts, Borders
  background-color: bcard.$bgc;
  // border: 1px solid red;
  box-shadow: bcard.$box-shadow;
  border-radius: bcard.$border-r;
  //Display
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //Diamensions
  width: 45vw;
  min-width: bcard.$min-w;

  // height: 33.3vh;
  min-height: bcard.$min-h;
  //Position
  //Margin, Padding
  padding-left: 4px;
  padding-right: 4px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  //Transition, Animation

  h4 {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.card-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.BeverageButton {
  width: 60%;
  height: 60%;
}

.BeverageImg {
  //Colors, Fonts, Borders
  border-radius: 50%;
  //Display

  display: inline-block;
  // object-fit: cover;
  //Diamensions
  width: 90%;
  height: 90%;

  min-width: bcard.$buttonImgMinW;
  min-height: bcard.$buttonImgMinH;

  max-width: bcard.$buttonImgMaxW;
  max-height: bcard.$buttonImgMaxH;
  //Position
  //Margin, Padding
  //Transition, Animation
}

.TimestampList {
  border: bcard.$timestamp-border;
  border-radius: 5px;
  list-style: none;
  font-weight: 600;
  width: 100%;
  height: auto;
  min-height: 1rem;
  margin: 4% 4%;
}

@media only screen and (min-width: main.$small-start-width) {
  .BeverageCard {
    width: 30vw;
  }
}
@media only screen and (min-width: main.$medium-start-width) {
  .BeverageCard {
    width: 23vw;
  }
}
@media only screen and (min-width: main.$large-start-width) {
  .BeverageCard {
    width: 18vw;
  }
  .BeverageButton:hover {
    background-color: main.$def_btn_bgc_hover;
  }
}
@media only screen and (min-width: main.$x-large-start-width) {
  .BeverageCard {
    width: 14vw;
  }
  .BeverageButton:hover {
    background-color: main.$def_btn_bgc_hover;
  }
}
