//GENERAL RESETS, CONFIGS TEMPLATE
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

// ANCHOR TAG
$pri_link_col: rgb(24, 24, 231);
$pri_link_col_active: rgb(226, 223, 223);
$pri_link_col_visited: rgb(175, 37, 175);

a {
  font-size: 1.2rem;
  color: $pri_link_col;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
}

a:link {
  color: $pri_link_col;
}
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: $pri_link_col_active;
}
a:visited {
  color: $pri_link_col_visited;
}

// BUTTON

$def_btn_bgc: rgb(50, 138, 221);
$def_btn_bgc_hover: rgb(133, 183, 233);
$def_btn_shdw: 3px 3px 1px rgb(150, 148, 148);
$def_btn_shdw_active: 1px 1px 1px black;
$def_btn_pad: 4px;
$def_btn_rad: 4px;

button {
  background-color: $def_btn_bgc;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: $def_btn_pad;
  border-radius: $def_btn_rad;
  box-shadow: $def_btn_shdw;
}

// PROJECT SPECIFIC
$page-bgc: rgb(240, 183, 183);

//mobile size is written as default, other cut points here
$small-start-width: 500px;
$medium-start-width: 768px;
$large-start-width: 960px;
$x-large-start-width: 1200px;

html {
  background-color: $page-bgc;
}

.App {
  text-align: center;

  h1 {
    margin: 1rem;
    font-size: 2.4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  // gap: 5px;
}

.SearchArea {
  //Colors, Fonts, Borders
  font-size: 1.5rem;
}

.SearchInput {
  //Colors, Fonts, Borders
  font-size: inherit;
  height: 2rem;
  //Margin, Padding
  margin-left: 1rem;
}

.SearchInput:focus {
  outline: $def_btn_bgc solid 3px;
}

.Striked {
  text-decoration: line-through;
}

@media only screen and (min-width: $small-start-width) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: $medium-start-width) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: $large-start-width) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media only screen and (min-width: $x-large-start-width) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
}
