@use './mainVars' as main;

//GENERAL RESETS, CONFIGS TEMPLATE
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-size: 1.2rem;
  color: main.$pri_link_col;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
}

a:link {
  color: main.$pri_link_col;
}
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: main.$pri_link_col_active;
}
a:visited {
  color: main.$pri_link_col_visited;
}

button {
  background-color: main.$def_btn_bgc;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
  text-align: center;
  padding: main.$def_btn_pad;
  border-radius: main.$def_btn_rad;
  box-shadow: main.$def_btn_shdw;
}

html {
  background-color: main.$page-bgc;
}

.App {
  text-align: center;

  h1 {
    margin: 1rem;
    font-size: 2.4rem;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
  align-items: center;
  justify-items: center;
  // gap: 5px;
}

.SearchArea {
  //Colors, Fonts, Borders
  font-size: 1.5rem;
}

.SearchInput {
  //Colors, Fonts, Borders
  font-size: inherit;
  height: 2rem;
  //Margin, Padding
  margin-left: 1rem;
}

.SearchInput:focus {
  outline: main.$def_btn_bgc solid 3px;
}

.ResetButton {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.Striked {
  text-decoration: line-through;
}

@media only screen and (min-width: main.$small-start-width) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: main.$medium-start-width) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (min-width: main.$large-start-width) {
  .container {
    grid-template-columns: repeat(5, 1fr);
  }
  .ResetButton:hover {
    background-color: main.$def_btn_bgc_hover;
  }
}
@media only screen and (min-width: main.$x-large-start-width) {
  .container {
    grid-template-columns: repeat(6, 1fr);
  }
  .ResetButton:hover {
    background-color: main.$def_btn_bgc_hover;
  }
}
